@model Pokemon
@{
    ViewData["Title"] = "Pokemon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pokemon</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Habilidades</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Name)</td>
        <td>@Html.DisplayNameFor(Model => Model.Type)</td>
        <td>@Html.DisplayNameFor(Model => Model.Ability)</td>
    </tr>

</table>

